.redApto {
    display: grid;
    place-items: center;
}

.NameAptoContainer {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.nameApto {
    color: white;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  
}

.contenedorProductos {
    align-items: left;
    width: 10rem;
    border-radius: 20px;
}

.nombreProducto {
    width: 60%;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-width: 1rem;
    border-color: red;
    font-size: 1.3rem;
}

.entradaDato {
    padding-left: 1rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    background:  #1D1B26;
    font-size: 1.3rem;
    color: white;
}

.botonListo {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    width: auto;
    color: white;
    background-color: greenyellow;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: auto;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
}

.guardarNombre {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    width: auto;
    color: white;
    background-color: greenyellow;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: auto;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
}

.deleteApto {
    display: grid;
    place-items: center;
    background-color: red;
}

.deleteText {
    background-color: transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btnCancelar {
    margin-top: 0.4rem;
    background-color: green;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: white;
    border-radius: 20px;
    padding: 0.2rem 0.2rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border: none;
}